<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'darkorange.css' %}"/>

    <link href="https://fonts.googleapis.com/css?family=Alike|Lato" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <title>Team</title>
</head>
<body>

{% include "header.html" %}

<div id="wrapper">
    <h1 class="accent1">
        Über uns
    </h1>
    <h2 class="accent1">Allgemein</h2>
    <p> Wir sind ein paar Studenten mit zu viel Freizeit, die der Meinung sind, dass das <a
            href="https://de.wikipedia.org/wiki/%C3%96konomisches_Prinzip#Extremumprinzip_.28auch_Optimumprinzip.29"
            target="_blank">Optimalprinzip</a>
        dem
        <a href="https://de.wikipedia.org/wiki/%C3%96konomisches_Prinzip#Maximalprinzip"
           target="_blank">Maximalprinzip</a> in einigen Situationen überlegen sein kann, von der deutschen Fansubszene
        jedoch sträflich vernachlässigt wird. Das bedeutet nicht, dass unsere Subs deswegen von niedrigerer Qualität
        sind. Wir investieren unsere Zeit lediglich in die relevanten Komponenten des Endprodukts. Ich möchte betonen,
        dass wir keine Speedsubgruppe sind. Wir werden niemals z.B. den QC auslassen, um schneller zu releasen. Wir
        haben lediglich andere Prioritäten.</p>
    <h2 class="accent1">Mitglieder
    </h2>
    <h3 class="accent1">
        kageru
    </h3>
    <p>
        Aufgaben: Übersetzung, Edit, QC, Encode, Type, Kara, Webdesign und Administration</br>
        Über mich: Ich bin wohl Schuld an dem Ganzen, weil ich auf die sonderbare Idee kam, ein paar Freunde
        dazu zu zwingen, mit mir irgendwelche Texte unter japanische Cartoons zu setzen.</br>
        Mir „gehört“ unser <a href="blog.php">Blog</a>, auf dem ich ab und
        zu über Encoding schreibe und auch meine übrige Freizeit ist mit ähnlich sinnvollen Betätigungen gefüllt, wie QC
        bei anderen Gruppen (Kampfkuchen, Chinu, Melon) zu machen oder
        Pokémon zu spielen und mich über unfähige und unvorhersehbare Gegner aufzuregen. Das
        improvisierte Webdesign dieser Seite ist übrigens auch von mir und das kleine 'k' im Namen ist Absicht.</br>
        Erreichbar via Discord @kageru#7109
    </p>
    <h3 class="accent1">Attila</h3>
    <p>
        Aufgaben: Übersetzung, Edit, QC, Encode, PHP-Backend und Administration</br>
        Über mich: Anhänger der PC- und HEVC-Masterrace. Außerdem Supreme Meme Lord und Defender of Le Reddit Army.
        Lieblingsprogrammiersprache: Java. Hassprogrammiersprache: Hier würde Lua stehen, aber es wäre eine
        Beleidigung, so was als Programmiersprache anzusehen.
        Wenn ein "werf" in einem Release auftaucht, war ich's. #1,3</br>
        Jibril best girl.</br>
        Erreichbar via Discord @Attila#3924
    </p>
    <h3 class="accent1" id="phaggot">fredferguson</h3>
    <p>
        Aufgaben: Übersetzung, Edit, QC, memes</br>
        Über mich: Als Gott damit beschäftigt war, dumme Fansubber zu roasten, kam ihm die Idee, fredferguson zu
        erschaffen, der dies an seiner statt tun sollte. Und so sehe ich es nun als meine Pflicht an, die deutsche
        Fansub-Szene eines besseren zu belehren. Ich bin sonst eigentlich ein ganzer netter Mensch, nur bei falschen
        Übersetzungen bin ich schneller getriggered als eine Feminazi.</br>
        Erreichbar via Discord @fredferguson#0255
    </p>
</div>

{% include "footer.html" %}

</body>
</html>