<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'darkorange.css' %}"/>

    <link href="https://fonts.googleapis.com/css?family=Alike|Lato" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>

    <title>Blog</title>
</head>
<body>

{% include "header.html" %}

<div id="leftsidebar">
    <div class="progressdiv sidebardiv leftdiv">
        <p style="font-weight: 700; margin-bottom: 1em"> Filter by tags </p>

        {% for tag in tags %}
        <p style="margin-bottom: 1em"><a class="hover_link" href="{% url 'blogfilter' tag.name %}"> {{ tag.name }} </a>
        </p>
        {% endfor %}

    </div>
</div>

<div id="wrapper">

    <h1 class="heading">Articles</h1>

    {% if filtered %}
    <p style="font-size: 80%">Currently showing all posts tagged with <span
        style="font-weight: 600"> {{ current_tag }}. </span> <a href="/blog">View all posts</a></p>
    {% endif %}

    {% for article in latest_article_list %}
    <div>
        <h2 class="subhead"> {{ article.title }} </h2>
        <p> {{ article.description }} </p>
        <table class="two_column_table no_border_table">
            <tr>
                <td style="text-align: left"><a href="{% url 'article' article.htmlname %}">Read more…</a></td>
                <td style="font-size: 75%; text-align: right">Gepostet am {{ article.pub_date|date:"d" }}.
                    {{ article.pub_date|date:"M Y" }} um {{ article.pub_date|time:"H:i" }} von {{ article.autor }}
                </td>
            </tr>
        </table>
    </div>
    <hr>
    {% endfor %}
</div>

{% include "footer.html" %}

</body>
</html>