<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'darkorange.css' %}"/>

    <link href="https://fonts.googleapis.com/css?family=Alike|Lato" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <title>afk-Subs</title>
</head>
<body>

{% include "header.html" %}

<div id="wrapper">

    <h1 class="accent1">News</h1>

    {% for post in latest_post_list %}
    <div>
        <h2 class="accent1"> {{ post.title }} </h2>
        <p> {{ post.description }} </p>
        <table class="two_column_table no_border_table"> <tr>
            <td style="text-align: left"><a href="{% url 'detail' post.id %}">Mehr …</a></td>
            <td style="font-size: 75%; text-align: right">Gepostet am {{ post.pub_date|date:"d" }}. {{ post.pub_date|date:"M Y" }} um {{ post.pub_date|time:"H:i" }} von {{ post.autor }} </td>
            </tr>
        </table>
        </div><hr>
    {% endfor %}

</div>

{% include "footer.html" %}

</body>
</html>