<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'darkorange.css' %}"/>

    <link href="https://fonts.googleapis.com/css?family=Alike|Lato" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <title>Team</title>
</head>
<body>

{% include "header.html" %}

{% include "discord.html" %}

<div id="wrapper">
    <h1 class="accent1">
        About me
    </h1>
    <p>
        If you’re reading this, you probably want to contact me (kageru).
        If you’re actually here for the dead German fansubs, read the next paragraph.
    </p>
    <p>
        Hi. I’m kageru, and I’m responsible for most of the encoding mess on this website.
        If you have any questions or suggestions, feel free to message me on discord (@kageru#1337)
        or send me an email at kageru[the funny symbol]encode.moe.
    </p>
    PGP: <br>
    <code style="padding: 0.5em"> D071 4930 ACC8 0F2B 0EE3
2255 8282 A2BE A4AD A3D2 </code>

    <h1 class="accent1">
        Über uns (outdated)
    </h1>
    <h2 class="accent1">Allgemein</h2>
    <p> <s>Wir sind ein paar Studenten mit zu viel Freizeit, die der Meinung sind, dass das <a
            href="https://de.wikipedia.org/wiki/%C3%96konomisches_Prinzip#Extremumprinzip_.28auch_Optimumprinzip.29"
            target="_blank">Optimalprinzip</a>
        dem
        <a href="https://de.wikipedia.org/wiki/%C3%96konomisches_Prinzip#Maximalprinzip"
           target="_blank">Maximalprinzip</a> in einigen Situationen überlegen sein kann, von der deutschen Fansubszene
        jedoch sträflich vernachlässigt wird. Das bedeutet nicht, dass unsere Subs deswegen von niedrigerer Qualität
        sind. Wir investieren unsere Zeit lediglich in die relevanten Komponenten des Endprodukts. Ich möchte betonen,
        dass wir keine Speedsubgruppe sind. Wir werden niemals z.B. den QC auslassen, um schneller zu releasen. Wir
        haben lediglich andere Prioritäten.</s> Die Zeit des Studententums ist für die meisten von uns leider vorbei und wir
        haben etwas mehr zu tun als früher, aber wenn zwischendurch mal wieder ein Release kommt, sind unsere Standards
        weiterhin dieselben.</p>
    <h2 class="accent1">Mitglieder
    </h2>
    <h3 class="accent1">
        kageru
    </h3>
    <p>
        Aufgaben: Übersetzung, Edit, QC, Encode, Type, Kara, Webdesign und Administration</br>
        Über mich: Ich bin wohl Schuld an dem Ganzen, weil ich auf die sonderbare Idee kam, ein paar Freunde
        dazu zu zwingen, mit mir irgendwelche Texte unter japanische Cartoons zu setzen.</br>
        Mir „gehört“ unser Blog, auf dem ich ab und zu über Encoding schreibe und auch meine übrige Freizeit 
        ist mit ähnlich sinnvollen Betätigungen gefüllt, wie QC
        bei anderen Gruppen (Kampfkuchen, Chinu, Melon) zu machen oder
        Pokémon zu spielen und mich über unfähige und unvorhersehbare Gegner aufzuregen. Das
        improvisierte Webdesign dieser Seite ist übrigens auch von mir und das kleine 'k' im Namen ist Absicht.</br>
        Erreichbar via Discord @kageru#1337
    </p>
    <h3 class="accent1">Attila</h3>
    <p>
        Aufgaben: Website-Entwicklung und Administration, irgendwann bestimmt mal wieder irgendein Encode</br>
        Über mich: Lang lang ists her, da war ich mal voller Motivation zu subben.</br>
        Diese Zeit ist leider vorbei, aber immerhin die Website hier entwickel ich noch weiter.</br>
        Erreichbar via Discord @Attila#3924
    </p>
</div>

{% include "footer.html" %}

</body>
</html>
