<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'darkorange.css' %}"/>

    <link href="https://fonts.googleapis.com/css?family=Alike|Lato" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <title>Impressum</title>
</head>
<body>

<a href="/">
    <div class="bottom_right_div"><img src="{% static '2hu.png' %}"></div>
</a>
<div class="contentwrap">
    <p class="heading">Contact</p>
    <div style="font-size: 150%">
        Discord:<br>
        Main author and server admin: kageru#7109<br>
        Supreme Meme Lord, x265 proselytizer, and also server admin: Attila#3924<br>
        Magister Linguarum and Conoisseur of unpronouncable words: fredferguson#0255<br><br><br><br>
        <img class="ssllabs" src="http://i.kageru.moe/kk1H5.png" style="width: 800px">
        <br><br><br>
        Click Patchouli (the girl in the bottom right-hand corner) to go back to the index ==>
    </div>
</div>

</body>
</html>