<footer>
    <div style="text-align: right; width: 50%; margin: auto; padding-top: 0.1em; padding-bottom: 0.1em">
        <p><a href="#">Return to top</a></p>
        <p style="font-size: 100%"><a href="/contact">Impressum</a></p>
    </div>
</footer>