{% load static %}
<script type="text/javascript" src="{% static 'header.js' %}"></script>
<header class="showheader" id="header">
	<table class="headertable">
		<td class="headerelement"> <a href="/news" class="headerlink">Home</a></td>
		<td class="headerelement"> <a href="/blog" class="headerlink" >Blog</a></td>
        <td class="headerelement"> <a href="/ddl/fs" class="headerlink">Downloads</a></td>
        <td class="headerelement"> <a href="/faq" class="headerlink">Faq</a></td>
	</table>
</header>