<header>
    <table class="headertable no_border_table">
        <tr>
            <td>
                {% load static %}
                <img src="{% static "left.jpg" %}"></a>
            </td>
            <td>
                <a href="/news"> <img src="{% static "news.jpg" %}"></a>
            </td>
            <td class="dropdown">
                <img src="{% static "projekte.jpg" %}">
                <div class="dropdown-content">
                    <table class="dropdowntable">
                        <tr>
                            <td>
                                <a target="_blank" href="/ddl/fs">Direktdownload</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a target="_blank"
                                   href="http://www.nyaa.se/?page=separate&user=291801">Torrents</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <a href="/blog"><img src="{% static "blog.jpg" %}"></a>
            </td>
            <td>
                <a href="/team"> <img src="{% static "team.jpg" %}"></a>
            </td>
            <td>
                <a href="/faq"> <img src="{% static "faq.jpg" %}"></a>
            </td>
            <td>
                <img src="{% static "right.jpg" %}">
            </td>
        </tr>
    </table>
</header>
